<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
              <add name="djangohandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Anaconda\envs\django\python.exe|D:\Anaconda\envs\django\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"></add>
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="D:\pycharm\PycharmProject\djangoBlog" />
            <add key="DJANGO_SETTINGS_MODULE" value="djangoBlog.settings" />
	<add key="WSGI_LOG" value="D:\pycharm\PycharmProject\djangoBlog\wsgi.log" />
        </appSettings>
</configuration>
